.max-full {
  background: themeColor(bg-primary);
}

.bg-style {
  display: flex;
  align-items: center;
  gap: 12.5rem;
  color: themeColor(title);
  font-family: ($font-family-sora);
  font-size: 1.2rem;
  font-weight: themeFontWeight(semiBold);
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 8.5rem;
  margin-top: 109px;
}

.app-description {
  & h4 {
    color: themeColor(title);
    font-family: ($font-family-sora);
    font-size: themeFontSize(xlarge);
    font-weight: themeFontWeight(semiBold);
    padding-bottom: themeSpacings(xsmall);
  }
  & p {
    font-family: ($font-family-inter);
    font-weight: 400;
    line-height: 26px;
    width: 444px;
  }
  & .store {
    margin-top: themeSpacings(xsmall);
  }
}
