.main-app-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25rem;
  & .container-bg {
    margin-top: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -9999px;
      right: -9999px;
      height: 100%;
      background: themeColor(bg-primary);
    }
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 12.5rem;
  color: themeColor(title);
  font-family: ($font-family-sora);
  font-size: 1.2rem;
  font-weight: themeFontWeight(semiBold);
  position: relative;
  z-index: 1;
}

.card-container{
  display: flex;
  justify-content: center;
}