:root {
  --text-title: #293145;
  --text-description: #6E7275;
  --text-button: #FFF;
}

@import "./theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-inter;
  font-size: themeFontSize(medium);
}

a {
    text-decoration: none; 
}

ul {
  list-style: none;
}

.subtitle {
  color: themeColor(description);
}
