.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & .logo {
        width: 4.56rem;
        height: 1.25rem;
    }
}

.items-menu {
    display: flex;
    gap: themeSpacings(large);
    font-weight: themeFontWeight(medium);
}

a {
    color: themeColor(description);
}

/* Mobile menu styles */
.mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }
    .desktop-menu {
        display: none;
    }
}
.navbar-toggler {
    background-color: transparent;
    border: none;
}


